.footer {
  box-sizing: border-box;
  padding   : 80px 0;
  // background-color: #FFFFFF;
  .box {
    padding         : 20px;
    background-color: rgba(243,247,248,1);
    box-sizing      : border-box;
    text-align      : left;
  }

  h5 {
    margin: 0;
  }

  .sociales {
    display        : flex;
    justify-content: flex-start;
    margin-top     : 16px;

    div {
      width              : 24px;
      height             : 24px;
      margin-right       : 30px;
      background-position: center;
      background-size    : contain;
      background-repeat  : no-repeat;
    }

    .a {
      background-image: url("../-img/rs_facebook.png");
    }

    .b {
      background-image: url("../-img/rs_twitter.png");
    }

    .c {
      background-image: url("../-img/rs_youtube.png");
    }

    .d {
      background-image: url("../-img/rs_instagram.png");
    }

    .e {
      background-image: url("../-img/rs_whatpsapp.png");
    }

    .f {
      background-image: url("../-img/rs_mail.png");
    }
  }
}