.nosotros_trabajamos_para_ti {
  padding         : 80px 0;
  box-sizing      : border-box;
  background-color: #ffffff;

  h2 {
    margin: 0;
  }

  h3 {
    margin     : 0;
    text-align : center;
    font-size  : 24px;
    font-weight: 500;
    line-height: 40px;
  }

  .btn_link {
    height        : 45px;
    width         : 200px;
    padding-top   : 0;
    margin        : 30px auto 80px;
    border-radius : 100px;
    font-size     : 16px;
    font-weight   : 500;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color         : #000000;
    border        : 1px solid #000000;
    box-sizing    : border-box;

    div,
    span {
      float          : left;
      text-decoration: underline;
    }

    div.btn {
      position : relative;
      top      : 10px;
      left     : 50%;
      transform: translateX(-50%);
    }

    span {
      display            : block;
      height             : 24px;
      width              : 24px;
      background-image   : url("../-img/link_flecha.png");
      background-position: center;
      background-size    : contain;
      background-repeat  : no-repeat;
    }
  }
}

.modal {
  max-width : 50% !important;
  text-align: center;

  img.foto_modal {
    display   : block;
    width     : 100%;
    height    : 170px;
    position  : relative;
    text-align: center;
  }

  img.logo {
    display   : block;
    height    : 50px;
    position  : relative;
    margin    : 30px auto;
    text-align: center;
  }

  h4,
  p {
    text-align: center;
  }

  h4 {
    /* Empresa: */
    font-size     : 20px;
    color         : #000A12;
    letter-spacing: 0;
  }
}