header {
  .box {
    .pleca {
      position        : absolute;
      bottom          : 0;
      height          : 92px;
      width           : 100%;
      padding         : 20px;
      box-sizing      : border-box;
      background-color: rgba(86,146,208,.9);

      span {
        margin     : 0;
        padding    : 0;
        color      : #FFFFFF;
        font-family: Hind;
        font-size  : 14px;
        font-weight: 500;
        line-height: 25px;
      }

      h3 {
        margin     : 0;
        color      : #FFFFFF;
        height     : 30px;
        color      : rgba(255,255,255,1);
        font-family: Hind;
        font-size  : 18px;
        font-weigh : normal;
        line-height: 30px;
      }
    }
  }

  .btn_whatsapp {
    height          : 45px;
    width           : 170px;
    padding-top     : 10px;
    margin          : 0 auto;
    border-radius   : 100px;
    font-size       : 16px;
    font-weight     : 500;
    text-transform  : uppercase;
    color           : #ffffff;
    background-image: linear-gradient(-90deg, #67D9B9 0%, #67D9D5 100%);
    box-sizing      : border-box;
    letter-spacing  : 0.4px;

    div,
    span {
      float: left;
    }

    span {
      display            : block;
      height             : 24px;
      width              : 24px;
      margin-left        : 20px;
      margin-right       : 10px;
      background-image   : url("../-img/btn_whatsapp.png");
      background-position: center;
      background-size    : contain;
      background-repeat  : no-repeat;
    }
  }
  // XS menos de [768 px] CELULAR
  @media only screen and (max-width: 47em) {
    .btn_whatsapp {
      height: 45px;
      width : 45px;

      span {
        margin: 0 auto;
        float : none;
      }

      div {
        display: none;
      }
    }
  }

  .btn_link {
    height        : 45px;
    width         : 85px;
    padding-top   : 10px;
    padding-left  : 0;
    border-radius : 100px;
    font-size     : 16px;
    font-weight   : 500;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color         : #000000;
    border        : 0 solid #000000;
    box-sizing    : border-box;

    div,
    span {
      float          : left;
      text-decoration: underline;
    }

    div.btn {
      position : relative;
      top      : 10px;
      left     : 50%;
      transform: translateX(-50%);
    }

    span {
      display            : block;
      height             : 24px;
      width              : 24px;
      background-image   : url("../-img/link_flecha.png");
      background-position: center;
      background-size    : contain;
      background-repeat  : no-repeat;
      transform          : rotate(180deg);
    }
  }
}

.promo_datos {
  padding: 80px 0 0;

  .box {
    margin-bottom: 0;

    &.datos {
      padding: 0 20px;
    }

    .titulo {
      text-align: left;
      margin    : 0;
    }

    h4 {
      margin        : 0;
      /* Enganche: $80,000 MX: */
      font-size     : 24px;
      font-weight   : 500;
      color         : #000A12;
      letter-spacing: 0;
    }

    .sub_titulo {
      margin: 0;
    }

    .lista {
      /* - Escaner 3Shape E1: */
      // font-size     : 20px;
      color         : #000A12;
      letter-spacing: 0;
      line-height   : 30px;

      strong {
        font-weight: 700;
      }
    }

    .contacto {
      padding: 0;

      h3 {
        text-align: left;
        margin    : 0 0 20px;
      }
    }

    .pleca {
      position        : absolute;
      bottom          : 0;
      height          : 92px;
      width           : 100%;
      padding         : 20px;
      box-sizing      : border-box;
      background-color: rgba(86,146,208,.9);

      span {
        margin     : 0;
        padding    : 0;
        color      : #FFFFFF;
        font-family: Hind;
        font-size  : 14px;
        font-weight: 500;
        line-height: 25px;
      }

      h3 {
        margin     : 0;
        color      : #FFFFFF;
        height     : 30px;
        color      : rgba(255,255,255,1);
        font-family: Hind;
        font-size  : 18px;
        font-weigh : normal;
        line-height: 30px;
      }
    }
  }

  .btn_whatsapp {
    height          : 45px;
    width           : 170px;
    padding-top     : 10px;
    margin          : 0 auto;
    border-radius   : 100px;
    font-size       : 16px;
    font-weight     : 500;
    text-transform  : uppercase;
    color           : #ffffff;
    background-image: linear-gradient(-90deg, #67D9B9 0%, #67D9D5 100%);
    box-sizing      : border-box;
    letter-spacing  : 0.4px;

    div,
    span {
      float: left;
    }

    span {
      display            : block;
      height             : 24px;
      width              : 24px;
      margin-left        : 20px;
      margin-right       : 10px;
      background-image   : url("../-img/btn_whatsapp.png");
      background-position: center;
      background-size    : contain;
      background-repeat  : no-repeat;
    }
  }

  .btn_link {
    height        : 45px;
    width         : 170px;
    margin        : 0 auto;
    border-radius : 100px;
    font-size     : 16px;
    font-weight   : 500;
    letter-spacing: 0.4px;
    text-transform: lowercase;
    color         : #ffffff;
    border        : 0 solid #000000;
    box-sizing    : border-box;

    div,
    span {
      float          : left;
      text-decoration: underline;
    }

    div.btn {
      position : relative;
      top      : 10px;
      left     : 50%;
      transform: translateX(-50%);
    }

    span {
      display            : block;
      height             : 24px;
      width              : 24px;
      background-image   : url("../-img/link_flecha.png");
      background-position: center;
      background-size    : contain;
      background-repeat  : no-repeat;
      transform          : rotate(180deg);
    }
  }
}

.equipos_promo {
  padding: 30px 0;

  .box.foto {
    margin-bottom: 0;
  }

  .descripcion {
    padding         : 20px;
    box-sizing      : border-box;
    background-color: white;

    h3 {
      margin   : 0;
      font-size: 24px;
    }

    .btn_pdf {
      width        : fit-content;
      padding      : 0 20px;
      margin       : 20px 0 10px;
      height       : 45px;
      border-radius: 100px;
      border       : 2px solid #5692D0;

      .texto {
        display: block;
        width  : fit-content;
        margin : 10px auto;

        div {
          float: left;
        }

        span {
          float              : left;
          margin-left        : 10px;
          height             : 24px;
          width              : 24px;
          background-image   : url("../-img/btn_pdf_negro.png");
          background-position: center;
          background-size    : contain;
          background-repeat  : no-repeat;
        }
      }
    }
  }
}

.foto {
  height             : 100%;
  border-radius      : 0;
  background-color   : white;
  background-position: center;
  background-size    : cover;

  &.a {
    background-image: url("../-img/producto-foto1.png");
    margin-bottom   : 0;
  }

  &.b {
    background-image: url("../-img/producto-foto2.png");
    margin-bottom   : 30px;
  }

  &.c {
    background-image: url("../-img/producto-foto3.png");
    margin-bottom   : 30px;
  }

  &.d {
    background-image: url("../-img/producto-foto4.png");
    margin-bottom   : 30px;
  }

  &.e {
    background-image: url("../-img/producto-foto5.png");
    margin-bottom   : 30px;
  }

  &.f {
    background-image: url("../-img/producto-foto6.png");
    margin-bottom   : 30px;
  }
  // producto 1
  &.producto_1_a {
    height          : 370px;
    background-image: url("../-img/producto_1_a.png");
  }

  &.producto_1_b {
    height          : 370px;
    background-image: url("../-img/producto_1_b.png");
    margin-bottom   : 0;
  }

  &.producto_1_c {
    height          : 370px;
    background-image: url("../-img/producto_1_c.png");
    margin-bottom   : 0;
  }
  // Producto 2
  &.producto_2_a {
    height          : 370px;
    background-image: url("../-img/producto_2_a.png");
  }

  &.producto_2_b {
    height          : 370px;
    background-image: url("../-img/producto_2_b.png");
    margin-bottom   : 0;
  }

  &.producto_2_c {
    height          : 370px;
    background-image: url("../-img/producto_2_c.png");
    margin-bottom   : 0;
  }
  // Producto 3
  &.producto_3_a {
    height          : 370px;
    background-image: url("../-img/producto_3_a.png");
  }

  &.producto_3_b {
    height          : 370px;
    background-image: url("../-img/producto_3_b.png");
    margin-bottom   : 0;
  }

  &.producto_3_c {
    height          : 370px;
    background-image: url("../-img/producto_3_c.png");
    margin-bottom   : 0;
  }
  // Producto 4
  &.producto_4_a {
    height          : 370px;
    background-image: url("../-img/producto_4_a.png");
  }

  &.producto_4_b {
    height          : 370px;
    background-image: url("../-img/producto_4_b.png");
    margin-bottom   : 0;
  }

  &.producto_4_c {
    height          : 370px;
    background-image: url("../-img/producto_4_c.png");
    margin-bottom   : 0;
  }
  // Producto 5
  &.producto_5_a {
    height          : 370px;
    background-image: url("../-img/producto_5_a.png");
  }

  &.producto_5_b {
    height          : 370px;
    background-image: url("../-img/producto_5_b.png");
    margin-bottom   : 0;
  }

  &.producto_5_c {
    height          : 370px;
    background-image: url("../-img/producto_5_c.png");
    margin-bottom   : 0;
  }
  // Producto 6
  &.producto_6_a {
    height          : 370px;
    background-image: url("../-img/producto_6_a.png");
  }

  &.producto_6_b {
    height          : 370px;
    background-image: url("../-img/producto_6_b.png");
    margin-bottom   : 0;
  }

  &.producto_6_c {
    height          : 370px;
    background-image: url("../-img/producto_6_c.png");
    margin-bottom   : 0;
  }
}
// XS menos de [768 px] CELULAR
@media only screen and (max-width: 47em) {
  .promo_datos {
    padding: 0;

    .box.foto {
      height: 200px;

      &.a {
        margin-bottom: 20px;
      }
    }
  }

  .box {
    &.foto {
      height             : 352px;
      border-radius      : 6px;
      background-color   : white;
      background-position: center;
      background-size    : cover;
    }
  }
}
// SM desde [48 em 768px] iPAD
@media only screen and (min-width: 48em) {
  .equipos_promo {
    .descripcion {
      .btn_pdf {
        width        : fit-content;
        padding      : 0 15px;
        margin       : 20px 0 10px;
        height       : 45px;
        border-radius: 100px;
        border       : 2px solid #5692D0;

        .texto {
          display: block;
          width  : fit-content;
          margin : 10px auto;

          div {
            float: left;
          }

          span {
            display: none;
          }
        }
      }
    }
  }
}