.promociones {
  padding: 90px 0;

  .box {
    &.foto {
      height             : 352px;
      border-radius      : 6px;
      background-color   : white;
      background-image   : url("../-img/logo_innova4d.png");
      background-position: center;
      background-size    : cover;

      &.a {
        background-image: url("../-img/producto-foto1.png");
      }

      &.b {
        background-image: url("../-img/producto-foto2.png");
      }

      &.c {
        background-image: url("../-img/producto-foto3.png");
      }

      &.d {
        background-image: url("../-img/producto-foto4.png");
      }

      &.e {
        background-image: url("../-img/producto-foto5.png");
      }

      &.f {
        background-image: url("../-img/producto-foto6.png");
      }
    }

    .pleca {
      position        : absolute;
      bottom          : 0;
      height          : 92px;
      width           : 100%;
      padding         : 20px;
      box-sizing      : border-box;
      background-color: rgba(86,146,208,.9);

      span {
        margin     : 0;
        padding    : 0;
        color      : #FFFFFF;
        font-family: Hind;
        font-size  : 14px;
        font-weight: 500;
        line-height: 25px;
      }

      h3 {
        margin     : 0;
        color      : #FFFFFF;
        height     : 30px;
        color      : rgba(255,255,255,1);
        font-family: Hind;
        font-size  : 18px;
        font-weigh : normal;
        line-height: 30px;
      }
    }
  }
}