// promociones

.que_es_cad-cam {
  background-color: #F3F7F8;

  .imagen_cad_cam {
    width              : 100%;
    height             : 555px;
    background-image   : url("../-img/que_es_cad_cam.png");
    background-repeat  : no-repeat;
    background-size    : contain;
    background-position: center;
  }
}